body{
   background-color: rgb(243, 192, 126);
}
/* hover tab use hota hi tab mouse pix pe lak k jawo */
 img:hover{
    opacity: 0.6;
    /* how to give border border k name dena lazime hai like solid */
    border: 5px double rgb(227, 41, 41);} 
    
/* Transparent Box */

div {
    background-color: #5977ae;
    padding: 10px;
    border: 5px solid black;
  }
  
  div.one {
    opacity: 0.1;
  }
  
  div.two{
    opacity: 0.3;
  }
  
  div.three {
    opacity: 0.6;
  }

  div .four{
  opacity: opacity 1;
  }
/*  With RGBA color values */
  div.first {
    background: rgba(4, 170, 109, 0.1);
  }
  
  div.second {
    background: rgba(4, 170, 109, 0.3);
  }
  
  div.third {
    background: rgba(4, 170, 109, 0.6);
  }

  /* filter property */
  .blur {filter: blur(4px);}


 /* backgroud picture */
   /* body{
     background-image: url(../images\ 1\ flower.jpeg);  
      /* background-repeat: no-repeat; } */

/*  
 div{
   padding: 40px;
   background-color: rgb(13, 13, 13);
   color: #eadddd;
    margin-top: 240px; 
    
 }
 div>p{
   font-size: 20px;
   font-weight: bold;
   
 }   */ 
